/* Estilos gerais */
.auth-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f58c7 0%, #e4e8f0 100%)!important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

