.bidding-card {
    transition: all 0.3s ease;
    position: relative;
    border-radius: 12px !important;
    box-shadow: 0px 2px 9px -1px rgba(0, 0, 0, 0.15) !important;
    overflow: hidden;
    background-color: #fafafa !important;
}

.bidding-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.02) !important;
    border-color: rgba(54, 108, 207, 0.489) !important;
}

.card-title {
    margin-left: 0px!important;
    font-size: 1.125rem!important;
    /* 18px */
    font-weight: 600;
    color: #3a3a3a!important;
    line-height: 1.5rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: color 0.3s ease;
}

